/* Global styles */
:root {
  /* Define CSS variables for consistent theming */
  /* --main-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  --main-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* Tahoma, Geneva, Verdana, sans-serif; */
  /* "Bookman Old Style", Bookman, serif; */
  /* "Lato",sans-serif; */
  --font-family-monospace: "Hack-ZeroSlash", monospace;
  --main-font-size: 1.05rem;
  --main-bg-color: #03051f;
  /* --main-bg-color: #091f03; */
   /* #03051f; Main background color for textboxes, inputs, tables... */
  /* --main-border-color: #7684cf; */
  --main-border-color: #ededf133;
  --main-border-radius: 8px; /* Main border radius for rounded corners */
  --main-text-color: #ffffff; /* Main text color */
  --secondary-color: #ffffff;
  --quaternary-color: #ffffff;
  --main-box-shadow: 2px 2px 8px rgba(237, 237, 241, 0.2); /* = #ededf133 
  --primary-background: #110e33; /* Primary background color */
  --code-text-bg-color: #32324e; /* T193R-W00D5: this is the background of code in paragraphs */
  --main-margin-left-right: 240px;
}
/* End of global styles */

body {
  font-family: var(--main-font-family);
  color-scheme: dark light;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: left;
  /* margin: 50px; */
  padding: 20px;
  border: 2px solid var(--main-border-color);
  /* CoPilot suggested additions so I can add a "techy" background to just the body */
  /* background: url('/images/tech-background.png') no-repeat center center fixed; */
  position: relative;
  min-height: 100vh;
  /* Hide overflow from pseudo-element */
  overflow-x: hidden;
}

body::before {
  /* CoPilot suggested additions so I can add a "techy" background to just the body */
  /* background: url('/images/tech-background.png') no-repeat center center fixed; */
  content: "";
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  opacity: 0.18;
  background-image: url("/assets/images/bg-techy-003.svg");
  /* background-image: '../assets/images/bg-techy-003.svg'; */
  background-repeat: repeat;
  background-size: 240px 240px;
}   

main {
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  /* border: var(--main-border-color) solid 2px; */
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
  margin-left: var(--main-margin-left-right);
  margin-right: var(--main-margin-left-right);
  padding: 20px;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  margin-top: 0;
}

main, header, footer, banner {
  /* From CoPilot: Make main, header, footer, and banner have 
  solid backgrounds to cover the techy pattern */
  position: relative;
  z-index: 1; /* T193R-W00D5: I may need to increase this if something inside 
                 these elements has z-index or for things like snackbars */
  background: var(--main-bg-color);
  border: var(--main-border-color) solid 2px;
}

/* p {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
} */

p {
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.5;
}

header, footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 20px;
  text-align: center;
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
  margin-left: var(--main-margin-left-right);
  margin-right: var(--main-margin-left-right);
}

.footer-nav, .header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.footer-left, .header-left {
  flex: 1;
  text-align: left;
}

.footer-center, .header-center {
  flex: 2;
  text-align: center;
}

.footer-right, .header-right {
  flex: 1;
  text-align: right;
}

img[src$="triangle-icon.svg"] {
  vertical-align: middle;
  margin-right: 8px;
}

/* Button styles */
button {
    padding: 4px 20px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #e1e6ee;
    background-color: #295c85;
    color: #ffffff;
    box-shadow: var(--main-box-shadow);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease
}
/* @keyframes wiggle {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  75% { transform: rotate(-5deg); }
}
button:hover {
    background-color: #3a7ab0;
    transform: translateY(-1px);
    animation: wiggle 0.3s ease-in-out;
} */
button:active {
    background-color: #1f4a6b;
    transform: translateY(0);
}
button:focus-visible {
    outline: 3px solid #001aff;
    outline-offset: 2px;
}

iframe {
  /* width: 100%; */
  /* height: 100%; */
  /* border: none; */
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
}

.curriculumXiframe {
  border: 2px solid #6975be;
  /* height: max-content; */
}
.curriculumXiframe:focus {
  outline: 2px solid #ff0000; /* test with red */
  outline-offset: 2px;
}
.curriculumXiframe:focus-within {
  outline: 2px solid red;
  outline-offset: 2px;
}

/* Below are styles from freecodecamp.org which I have modified */

/* T193R-W00D5: This is the main style for <code> but it gets altered when in a <pre> code block */
code {
  background-color: var(--code-text-bg-color);
  /* 1px solid var(--gray-45); */
  border: #bbbcc0 solid 1px;
  border-radius: 1px;
  color: var(--tertiary-color); /* T193R-W00D5: this is the text color of code in paragraphs */
  font-family: var(--font-family-monospace);
  font-size: 90%;
  overflow-wrap: anywhere;
  /* padding: 1px 4px; */ /* Removed padding for consistent text alignment of first chars in code boxes*/
  padding: 0px 0px;
}

:not(pre)>code {
  padding: 1px 4px;
}

code .token.operator {
  background: none;
}

:not(pre)>code[class*=language-],pre[class*=language-] {
  background: var(--primary-background);
}

.default code[class*=language-] ::-moz-selection,.default code[class*=language-]::-moz-selection,.default pre[class*=language-] ::-moz-selection,.default pre[class*=language-]::-moz-selection {
  background: var(--selection-color);
}

.default code[class*=language-] ::selection,.default code[class*=language-]::selection,.default pre[class*=language-] ::selection,.default pre[class*=language-]::selection {
  background: var(--selection-color);
}

* {
    text-shadow: none!important
}

code[class=language-markup] {
    white-space: normal!important
}

/* ###################################################################################### */
/* ###################################################################################### */

 :not(.dark-palette) .token.cdata,:not(.dark-palette) .token.comment,:not(.dark-palette) .token.doctype,:not(.dark-palette) .token.prolog {
    color: #62707f
}

:not(.dark-palette) .token.punctuation {
    color: #38425c
}

:not(.dark-palette) .token.constant,:not(.dark-palette) .token.deleted,:not(.dark-palette) .token.property,:not(.dark-palette) .token.symbol,:not(.dark-palette) .token.tag {
    color: #e00000
}

:not(.dark-palette) .token.number {
    color: #9932cc
}

:not(.dark-palette) .token.boolean {
    color: #1f3a93
}

:not(.dark-palette) .token.attr-name,:not(.dark-palette) .token.builtin,:not(.dark-palette) .token.char,:not(.dark-palette) .token.inserted,:not(.dark-palette) .token.selector,:not(.dark-palette) .token.string {
    color: #008040
}

/* T193R-W00D5: language-css stuff */
:not(.dark-palette) .language-css .token.string,:not(.dark-palette) .style .token.string,:not(.dark-palette) .token.entity,:not(.dark-palette) .token.operator,:not(.dark-palette) .token.url {
    color: #38425c
}

:not(.dark-palette) .token.atrule,:not(.dark-palette) .token.attr-value,:not(.dark-palette) .token.keyword {
    color: #2574a9
}

:not(.dark-palette) .token.class-name,:not(.dark-palette) .token.function {
    color: #992900
}

:not(.dark-palette) .token.important,:not(.dark-palette) .token.regex,:not(.dark-palette) .token.variable {
    color: #856514
}

:not(.dark-palette) .line-numbers-rows>span:before {
    color: #62707f
}

/* ###################################################################################### */
/* ###################################################################################### */

/* T193R-W00D5: I'm not sure if this style is used */
:not(.dark-palette)code[class*=language-],:not(.dark-palette)pre[class*=language-] {
    word-wrap: normal;
    color: var(--secondary-color);    
    font-family: Broadway; /* T193R-W00D5: set this font to see if it does anything */
    /* font-family: var(--main-font-family); */
    /* font-size: 1em; */
    /* -ms-hyphens: none; */
    /* hyphens: none; */
    line-height: 5; /* T193R-W00D5: I made this line height really big to test if it does anything */
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    text-align: left;
    text-shadow: none;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
}

/* T193R-W00D5: I'm not sure if this style is used */
:not(.dark-palette)pre[class*=language-] code[class*=language-] {
    /* color: var(--quaternary-color); */    
    color: purple; /* T193R-W00D5: set this color to see if it does anything */
}

/* T193R-W00D5: I'm not sure if this style is used */
:not(.dark-palette)pre[class*=language-] {
    /* margin: .5em 0; */
    /* overflow: auto; */    
    overflow: wrap; /* T193R-W00D5: changed from auto to wrap to see if it does anything */
    /* padding: 1em; */
}

:not(.dark-palette):not(pre)>code[class*=language-],:not(.dark-palette)pre[class*=language-] {
    background: var(--primary-background);
}

:not(.dark-palette)code[class*=language-] ::-moz-selection,:not(.dark-palette)code[class*=language-]::-moz-selection,:not(.dark-palette)pre[class*=language-] ::-moz-selection,:not(.dark-palette)pre[class*=language-]::-moz-selection {
    background: var(--selection-color);
}

:not(.dark-palette)code[class*=language-] ::selection,:not(.dark-palette)code[class*=language-]::selection,:not(.dark-palette)pre[class*=language-] ::selection,:not(.dark-palette)pre[class*=language-]::selection {
    background: var(--selection-color);
}

:not(.dark-palette):not(pre)>code[class*=language-] {
    border-radius: .3em;
    /* padding: .1em; */
    white-space: normal;
}

:not(.dark-palette).token.block-comment,:not(.dark-palette).token.cdata,:not(.dark-palette).token.comment,:not(.dark-palette).token.doctype,:not(.dark-palette).token.prolog {
    color: #608b4e
}

/* T193R-W00D5: This sets the style of punctuation in the <pre> code blocks */
:not(.dark-palette).token.punctuation {
    color: #ff0;
    /* T193R-W00D5: set color below for testing */
    /* color: orange; */
}

:not(.dark-palette).token.attr-name,:not(.dark-palette).token.deleted,:not(.dark-palette).token.namespace,:not(.dark-palette).token.tag {
    color: #e2777a
}

:not(.dark-palette).token.function-name {
    color: #d4d4d4
}

:not(.dark-palette).token.boolean,:not(.dark-palette).token.function,:not(.dark-palette).token.number {
    /* color: #569cd6 */
    color: orange; /* T193R-W00D5: set this color to see if it does anything */
}

:not(.dark-palette).token.class-name,:not(.dark-palette).token.constant,:not(.dark-palette).token.property,:not(.dark-palette).token.symbol {
    color: #f8c555
}

:not(.dark-palette).token.atrule,:not(.dark-palette).token.builtin,:not(.dark-palette).token.important,:not(.dark-palette).token.keyword,:not(.dark-palette).token.selector {
    /* color: #569cd6 */
    color: orange; /* T193R-W00D5: set this color to see if it does anything */
}

:not(.dark-palette).token.attr-value,:not(.dark-palette).token.char,:not(.dark-palette).token.regex,:not(.dark-palette).token.string,:not(.dark-palette).token.variable {
    color: #7ec699;
}

/*T193R-W00D5: This sets the style of attribute values in html tags of the <pre> code blocks */
:not(.dark-palette).token.attr-value {
    color: #7ec699;
    /* T193R-W00D5: set color below for testing */
    /* color: orange;  */
}


/* ####################################################################################### */
/* ####################################################################################### */

:not(.dark-palette).language-css .token.string,:not(.dark-palette).style .token.string {
    background: hsla(0,0%,100%,.12);
    color: #ec9126
}

:not(.dark-palette).token.entity,:not(.dark-palette).token.operator,:not(.dark-palette).token.url {
    background: none;
    color: #67cdcc
}

:not(.dark-palette).token.bold,:not(.dark-palette).token.important {
    font-weight: 700
}

:not(.dark-palette).token.italic {
    font-style: italic
}

:not(.dark-palette).token.entity {
    cursor: help
}

:not(.dark-palette).token.inserted {
    color: green
}

/* ####################################################################################### */
/* ####################################################################################### */

/* .dark-palette .token.selector, .dark-palette .token.important, .dark-palette .token.atrule, .dark-palette .token.keyword, .dark-palette .token.builtin {
    color: #569cd6;
} */

/* .dark-palette .token.selector, .dark-palette .token.important, .dark-palette .token.atrule, .dark-palette .token.keyword, .dark-palette .token.builtin {
    color: #569cd6;
} */

/* T193R-W00D5: language-css stuff */
/* :not(.dark-palette) .language-css .token.string,:not(.dark-palette) .style .token.string,:not(.dark-palette) .token.entity,:not(.dark-palette) .token.operator,:not(.dark-palette) .token.url {
    color: #38425c
} */

/* T193R-W00D5: language-css stuff */
.dark-palette .language-css .token.string,.dark-palette .style .token.string,.dark-palette .token.entity,.dark-palette .token.operator,.dark-palette .token.url {
    color: #38425c
}

/* ####################################################################################### */
/* ####################################################################################### */


.hide-scrollable-anchor {
    display: block;
    max-height: 0
}

pre[class*=language-].line-numbers {
    counter-reset: linenumber;
    padding-left: 3.8em;
    position: relative
}

pre[class*=language-].line-numbers>code {
    position: relative;
    white-space: inherit
}

code[class*=language-],pre[class*=language-] {
    border: none; /* T193R-W00D5: turn off code text border in language-<pre> code block */
    border-radius: 0;
    word-wrap: normal;
    background: none;
    color: var(--main-text-color);
    font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
    font-size: 1.05em; /* T193R-W00D5: This sets font size in language- <pre> code block */
    /* -ms-hyphens: none; */
    /* hyphens: none; */
    line-height: 1.5;
    /* -moz-tab-size: 4; */
    /* -o-tab-size: 4; */
    /* tab-size: 4; */
    text-align: left;
    text-shadow: 0 1px #fff;
    /* white-space: pre; */
    word-break: normal;
    word-spacing: normal
}

code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection {
    background: #b3d4fc;
    text-shadow: none
}

/* T193R-W00D5: This is the main style for the language- <pre> <code> block */
pre[class*=language-] {
    overflow: auto;
    padding: 0.5em; /* T193R-W00D5: This is the padding for the language- <pre> <code> block */
    margin-left: 0em; /* T193R-W00D5: margin of the <pre> <code> block to the main element */
    padding-left: 0em; /* T193R-W00D5: left padding of text within the <pre> <code> block */
}

:not(pre)>code[class*=language-],pre[class*=language-] {
    background: #1b1931;
}

:not(pre)>code[class*=language-] {
    border-radius: .3em;
    padding: .1em;
    white-space: normal
}

.token.cdata,.token.comment,.token.doctype,.token.prolog {
    color: #708090
}

.token.punctuation {
    color: #999
}

.token.namespace {
    opacity: .7
}

.token.boolean,.token.constant,.token.deleted,.token.number,.token.property,.token.symbol,.token.tag {
    color: #905
}

.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string {
    color: #690
}

.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url {
    background: hsla(0,0%,100%,.5);
    color: #9a6e3a
}

.token.atrule,.token.attr-value,.token.keyword {
    color: #07a
}

.token.class-name,.token.function {
    color: #dd4a68
}

.token.important,.token.regex,.token.variable {
    color: #e90
}

.token.bold,.token.important {
    font-weight: 700
}

.token.italic {
    font-style: italic
}

.token.entity {
    cursor: help
}
